.product-card-container {
    width: 200px;
}
.product-card-container img {
    width: 200px;
    height: 200px;
}
.product-card-container:hover {
    background-color: white;
    transform:scale(1.1);
    transition: 0.15s;
}